.triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 300px solid red;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 300px solid blue;
}

.body_content {
	padding: .25em 1.5em;
}

.facebook {
	padding: .5em 0;
}

#title {
	font-size: 3em;
	padding: .25em 0;
}